.logo {
    width: auto;
    height: 100px;
    align-items: center;
    display: block;
    margin: 0 auto;
}

body {
    background-color: black;
}

.boutton {
    align-items: center;
    border-width: 0px;
    background-color: rgb(255, 242, 82);
    border-radius: 18px;
    height: 38px;
    width: 339px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 15px;  
    font-weight: 600;
    color: #000000 !important;
}

.boutton:hover {
    background-color: rgb(255, 246, 155);
}

.boutton:active {
    color: #000000;
}

.boutton-rouge {
    align-items: center;
    border-width: 0px;
    background-color: rgb(255, 166, 134);
    border-radius: 18px;
    height: 38px;
    width: 339px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 15px;  
    font-weight: 600;
    color: #000000 !important;
}

.boutton-rouge:hover {
    background-color: rgb(255, 223, 212);
}

.boutton-rouge:active {
    color: #000000;
}

.stores-bannes {
    display: flex;
    flex-direction: column;
    align-items: auto;
    transition: transform 0.3s ease;
    width: 160px;
    text-align: center;
}

.stores-bannes:hover {
    transform: translateY(-5px);
}

.stores-bannes img {
    width: 192px;
    height: 103px;
    border-radius: 20px;
}

.stores-bannes p {
    color: rgb(255, 242, 82);
    font-size: 20px;
    font-weight: 600;
}

.container-strores-bannes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
