<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Commendes nostores</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="script" href="static/script.js">
        <link rel="icon" scr="photo/LOGO_NOSTORES_WEB.png">
    </head>
    <body>
      <div id="container">
          <img scr="./photo/LOGO_NOSTORES_WEB.png"/>
      </div>
    </body>
</html>
