<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commandes nostores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='photo/logo.png') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='photo/logo_blanc.png') }}" class="logo">
    <h1>Store SAVANNA</h1>
    <div class = "caracteristiques">
        <h2>Dimensions</h2>
        <ul>
            <li>Largeur max : 6000 mm</li>
            <li>Projection maximale : 3600 mm</li>
        </ul>
        <ul>
            <p>-> Avancée de 2100mm, largeur mini : 2470mm</p>
            <p>-> Avancée de 2600mm, largeur mini : 2970mm</p>
            <p>-> Avancée de 3100mm, largeur mini : 3970mm</p>
        </ul>
        <h2>Manoeuvre</h2>
        <img src="{{ url_for('static', filename='photo/Moteur-IO.JPG') }}" class="manoeuvre">
        <h2>Éclairage</h2>
        <ul>
            <li>Intégré dans les bras 💡</li>
        </ul>
        <h2>Coloris Armature</h2>
        <div class ="container_coloris">
            <div class="Coloris" style="background-color: rgb(56, 62, 66); color: white;">7016</div>
            <div class="Coloris" style="background-color: white; color: black;">9016</div>
        </div>
        <h2>caracteristiques d'installation</h2>
        <div class="container_img">
            <div class="img_installation">
                <img src="{{ url_for('static', filename='photo/Savana-facade-1.JPG') }}" >
            </div>
            <div class="img_installation">
                <img src="{{ url_for('static', filename='photo/Savana-plafond-1.JPG') }}" >
            </div>
            <div class="img_installation">
                <img src="{{ url_for('static', filename='photo/Savana-facade-2.JPG') }}" >
            </div>
            <div class="img_installation">
                <img src="{{ url_for('static', filename='photo/Savana-plafond-2.JPG') }}" >
            </div>
        </div>
    </div>
</body>
</html>
