<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commandes nostores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='photo/logo.png') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='photo/logo_blanc.png') }}" class="logo">
    <div class="container-strores-bannes">
        <div class="stores-bannes">
            <img src="{{ url_for('static', filename='photo/sAVANNA.jpeg') }}" class="image">
            <p>SAVANNA</p>
        </div>
        <div class="stores-bannes">
            <img src="{{ url_for('static', filename='photo/Robusta-KID.jpeg') }}" class="image">
            <p>ROBUSTA kid</p>
       </div>
        <div class="stores-bannes">
            <img src="{{ url_for('static', filename='photo/Robusta.jpeg') }}" class="image">
            <p>ROBUSTA</p>
        </div>
        <div class="stores-bannes">
            <img src="{{ url_for('static', filename='photo/Robin.jpeg') }}" class="image">
            <p>Robin</p>
       </div>
        <div class="stores-bannes">
            <img src="{{ url_for('static', filename='photo/Caudron.jpeg') }}" class="image">
            <p>CAUDRON</p>
        </div>
        <div class="stores-bannes">
            <img src="{{ url_for('static', filename='photo/Morane.jpeg') }}" class="image">
            <p>MORANE</p>
       </div>
        <div class="stores-bannes">
            <img src="{{ url_for('static', filename='photo/Loggia-dolpo.jpeg') }}" class="image">
            <p>LOGGIA DOLPO</p>
       </div>
    </div>
    <button class="boutton" id="retour">RETOUR</button>
</body>
</html>
